/* sticky footer ensure footer remains at bottom of page. from materialise */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
main {
  flex: 1 0 auto;
}
  
.flashes h4 {
  line-height: 2;
}
  
/* Footer */
.page-footer {
  height: 150px;
}
  
.social-networks {
  text-align: center;
}
  
.social-networks li {
  display: inline;
}
  
.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
}
  
/* Home Page section */
/* Hero Image */
#hero-image {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/* Media queries */

@media (max-width: 600px) {
  #profile {
    font-size: 21px;
  }
}