<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <title>Dŵr Agored</title>
</head>

<body>
    <header>
        <!-- top navbar -->
        <nav class="indigo accent-1">
            <div class="nav-wrapper">
                <a href="{{ url_for('homepage') }}" class="brand-logo">Dŵr Agored</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('homepage') }}">Home Page</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('allswims') }}">All Swims</a></li>
                    <li><a href="{{ url_for('location') }}">Add Location</a></li>
                    <li>
                        <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                    </li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('homepage') }}">Home Page</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('allswims') }}">All Swims</a></li>
            <li><a href="{{ url_for('location') }}">Add Location</a></li>
            <li>
                <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
            </li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="row flashes">
            <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </section>

    <main class="container">{% block content %} {% endblock %}</main>

    <!-- footer with social media accounts -->
    <footer class="page-footer indigo lighten-4">
        <div class="footer-socials">
            <div class="container">
                <ul class="social-networks">
                    <li>
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>