{% extends "base.html" %} {% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Home</h3>

<section>
    <!-- This is the hero image -->
    <div id="hero-outer">
        <div>
            <img id="hero-image" class="responsive-img" src="{{ url_for('static', filename='/images/heroimage.webp') }}"
                alt="Pen-Ffordd-Goch Pond">
        </div>
        <div id="cover-text">
            <h2>Dŵr Agored</h2>
        </div>
    </div>
</section>
<br>

<!-- About section -->
<section>
    <div id="about">
        <h3 class="light-blue-text text-darken-4 center-align">About Dŵr Agored</h3>
        <h5 class="light-blue-text text-darken-3 center-align">
            Are you a cold water swimmer based in South Wales?
            <br>
            Dŵr Agored is a resource for cold water swimmers to find and share their swimming experiences. 
            Simply navigate to the “All Swims” to view South Wales’ swimmers’ experiences or share your own!
        </h5>
    </div>
</section>

<br>

<div class="row">
    <div class="col s12">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">
                    <strong>Find a recommended swim and embrace the benefits:</strong>
                </span>
                <div>
                    <ul>
                        <li>Cost effective - once you have the gear, it’s free!</li>
                        <li>Boosts your immune system by increasing the production of white blood cells</li>
                        <li>Improves blood circulation by constricting your blood vessels which helps in oxygenating
                            your
                            body
                        </li>
                        <li>Reduces stress - it lowers your blood pressure and improves your heart health</li>
                        <li>Great way to meet people - chill and chatter</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
